<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Puttes Palsternackor</title>
    <style>
        table {
            width: 30%;
            border: 1px black  solid;

        }
        td {
            border: 1px black solid;
            text-align: center;
        }
    </style>
</head>
<body>
    <table class="sortable">

        <tr>
            <th>Store</th>
            <th>Date & time</th>
            <th>Customers</th>
        </tr>
        {% for reading in readings %}
            <tr>
                <td>
                    {{ reading['store'] }}
                </td>
                <td>
                    {{ reading['time'] }}
                </td>
                <td>
                    {{ reading['customer'] }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
</body>
</html>